/* Código */ 

$text-color: orange; /* global */ 


/* Agrupamento de CSS com MIXIN */
/* pode reutilizar aonde quiser */ 
@mixin box-shadow($color) {
    box-shadow: 3px 3px 4px 1px $color;
}

@mixin make-bold($bool) { /* booleano */ 
    @if $bool == true {
        font-weight: bold;
    }
}

// outro exemplo de booleano 
@mixin text-effect($val) {
    @if $val == danger {
        color: red;
    }
    @else if $val == alert {
        color: yellow;
    }
    @else {
        color: black;
    }
}


body {
        background-color: #7159c1;
        color: $text-color;
}


/* Encadeamento e Escopo com SASS */ 

.container {  /* a cor do container é branca mas a dos paragráfos serão azuis */ 
    @include box-shadow(rgba(0,0,0,0.6)); 
    width: 200px;
    height: 200px;
    background-color: white;
    $text-color: blue; 
    /* $text-color2: white; - essa variavel só existe dentro desse escopo container (ela não é global), então ela nao vai funcionar em outros seletores */ 

    p {
        @include box-shadow(rgba(0,0,0,0.6)); 
        background-color: red;
        height: 100px;
        width: 100px;
        color: $text-color;
        @include make-bold(true); /* true / false */ 
        @include text-effect(alert); // alert / danger / none 
    }
}